<div class="wrapperClass3">
    <div class="wrapperClass4">
        <img src="JanetProfile1.jpg" alt="Profile Display Picture" width="390px" height="500px" style="margin-left: 70px; margin-right: 50px;">
        <div class="card mb-3" style="max-width: 60rem;background-color: #ecf0f1 !important; opacity: .9;height:500px;">
            <div class="card-body">
                {{!-- dynamic data being used --}}
                <h1 class="wrapperClass5">{{title}}</h1>
                <div style="font-weight: 700; color: black;">
                    <p>
                        An IT Professional with an experience of 4 years in Full Stack Product Software Development and 
                        Services Industry fulfilling the roles of Backend Developer, Mentor, Database and Frontend Developer and contributing to the overall business functionality and development of the product
                    </p>
                    <p><span style="color: #26b195;">=> </span>Date of Birth - 18th may, 1995</p>
                    <p><span style="color: #26b195;">=> </span>Highest Qualification - Masters</p>
                    <p><span style="color: #26b195;">=> </span>Experience - 4 years</p>
                    <p><span style="color: #26b195;">=> </span>Lives in - Waterloo,Ontario</p>
                    <p><span style="color: #26b195;">=> </span>Languages - English, Hindi, French, Malayalam, Kannada, Tamil</p>
                </div>
            </div>
        </div>
    </div>   
</div>
