
  <div class="wrapperClass">
    <div class="card bg-light mb-3" style="max-width: 70rem;">
      <div class="card-body">
        <div class="containerClass">
            <h1 class="wrapperClass1">JANET PHILIP</h1>   
            <h5 class="wrapperClass2">| Full Stack Product Developer |</h5>
            <a class="wrapperClass1" href="/about" >Let's take a tour!!</a>
        </div>
      </div>
    </div>
  </div>



