<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Citation - Theme CSS from Bootswatch --}}
    <link rel='stylesheet' href='/stylesheets/theme.css' />
    {{!-- Navigation Bar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <a href="/">
              <img src="Logo2.PNG" alt="Profile Logo" width="50px" height="50px" style="margin-right: 10px;">
            </a>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div style="background: url('image1.png'); height: 675px;no-repeat center center fixed;overflow:hidden;background-size: cover">
      {{{body}}}
    </div>   
  </body>
  <footer class="footerClass">
      <span><a href="https://github.com/janetphlp/portfolio_janet.git" target="_blank">Github</a> | </span>
      <span><a href="https://www.linkedin.com/in/janet-philip-59b44512b" target="_blank">LinkedIn</a></span>
  </footer>
</html>
