<div class="wrapperClass6">
    <div class="card text-white bg-primary mb-3 wrapperClass9">
        <div class="card-header">
            <img src="InfosysLogo.PNG" alt="Company logo" width="100%" height="100px">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
                <h3 style="color: #26b195;">Infosys</h3>
                <h5>Product Development</h5>
                <p>{{title}}</p>
                <p>Procurement and trade Application</p>
                <div class="wrapperClass7">
                    <span class="badge bg-success">Angular 7</span>
                    <span class="badge bg-success">Java 14</span>
                    <span class="badge bg-success">Postgres SQl</span>
                </div>
                <div class="wrapperClass8">
                    <span class="badge bg-success">Postman</span>
                    <span class="badge bg-success">Spring Framework</span>
                    <span class="badge bg-success">D3.js</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary wrapperClass10"  type="button">View More</button>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;opacity:.9">
        <div class="card-header">
            <img src="quinnoxLogo.PNG" alt="Company logo" width="100%" height="100px">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
                <h3 style="color: #26b195;">Quinnox</h3>
                <h5>Information Tech Services</h5>
                <p>{{title}}</p>
                <p>Cognitive Testing Platform</p>
                <div class="wrapperClass7">
                    <span class="badge bg-success">Angular 6</span>
                    <span class="badge bg-success">Java 11</span>
                    <span class="badge bg-success">Postgres SQl</span>
                </div>
                <div class="wrapperClass8">
                    <span class="badge bg-success">AWS Services</span>
                    <span class="badge bg-success">Jenkins</span>
                    <span class="badge bg-success">Hibernate</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary wrapperClass10" type="button">View More</button>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 wrapperClass11" >
        <div class="card-header">
            <img src="TJohnLogo.PNG" alt="Company logo" width="100%" height="100px">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
                <h3 style="color: #26b195;">T John Institute</h3>
                <h5>Project Development Council</h5>
                <p>{{title}}</p>
                <p>Family Tracking Application</p>
                <div class="wrapperClass7">
                    <span class="badge bg-success">Html</span>
                    <span class="badge bg-success">Java 11</span>
                    <span class="badge bg-success">CSS</span>
                    <span class="badge bg-success">NoSql</span>
                </div>
                <div class="wrapperClass8">
                    <span class="badge bg-success">Firebase</span>
                    <span class="badge bg-success">Android Development</span>
                    <span class="badge bg-success">MySql</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary wrapperClass10" type="button">View More</button>
        </div>
    </div>
</div>